@page "/tags"

@using Exchange.UI.Library.Helper.BaseComponets
@using Microsoft.VisualBasic
@using MudBlazor



<h3>Tag</h3>
@inherits BarterBaseComponet<TagComponent>

<MudDataGrid Items="@_tagDTO" Filterable="false" SortMode="@SortMode.Multiple" Groupable="false">

    <Columns>
        <PropertyColumn Property="x => x.TagName" Title="Tag Name" />
        <PropertyColumn Property="x => x.CreatedBy" Title="Created By" />
        <PropertyColumn Property="x => x.ModifiedBy" Title="Modified By" />
    
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <a href="/" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Edit</a>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


@code {

}
